.main_header_avatar {
    padding: 20px 0;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2e344e;
}

.main_header_avatar a {
    height: 200px;
    width: 200px;
    border-radius: 1000px;
    border: 7px solid #2e344e;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

img {
    width: 100%;
}
