.myProjectsBlock {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #191D2B;
}

.myProjectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.myProjects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.myProjects__title {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    margin: 15px 0;
}

.contactMeSection {
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.contactMeSection h2::after {
    width: 35px;
    background: #037fff;
}
.contactMeSection h2::before {
    width: 100px;
    background: rgba(3,127,255,.3);
}

.contactMeSection h2::after, .contactMeSection h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: 5px;
    border-radius: 100px;
}

.contactMeSection span {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 4rem;
    line-height: 1;
    font-weight: 900;
    color: rgba(16,18,27,.34);
    display: inline-block;
    text-transform: uppercase;
    z-index: -1;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}